<% layout("layouts/boilerplate") %>
<body>
   <h2>All Listings</h2> 
   <form method="GET" action="/listings/new">
    <button>Ceate New Listing</button>
   </form>
   <ul>
    <% listings.forEach(listing => { %>
        <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a> </li>
        
    <% }) %>
   </ul>
</body>


