<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Add New Listing</h3>
    <form method="POST" action="/listings">
        <input name="listing[title]" placeholder="Title" type="text">
        <br/>
        <textarea name="listing[description]" placeholder="Description"></textarea>  
        <br/>
        <input name="listing[price]" placeholder="Price" type="number">
        <br/>
        <input name="listing[location]" placeholder="Location"type="text">
        <br/>
        <input name="listing[image]" placeholder="Image URL" type="text">
        <br/>
        <input name="listing[country]" placeholder="Country" type="text">
        <br/>
        <button >Add</button>
        <br/>
    </form>
</body>
</html>